ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  background: #ecf1f7;
  margin: 5px;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}
